<browser-refresh/>
<div>
    <div class='header'>Header</div>
    <hr>
    <${input.template}/>
    <hr>
    <div class='footer'>Footer
        <a href='/'>index</a> |  <a href='/page2'>page2</a>
    </div>
</div>